/* =============================================================
    CSS2 specification for Sente in oXygen.
============================================================= */
/* Sente XML elements */
*{
    display:inline;
}
senteContainer{
    display:block;
    max-width:800px;
    min-width:200px;
    font-family:sans-serif;
    font-size:14px;
    margin-top:0.5em;
    margin-right:0.5em;
    margin-left:0.5em;
    margin-bottom:0.5em;
    line-height:1.2em;
}
reference,
author,
editor,
characteristics,
keywords,
attachments{
    display:block;
}
reference{
    border-bottom:1px solid;
}
/* dates */
date[type = 'Publication']{
    content:attr(year) "-" attr(month) "-" attr(day);
}
date[type = 'Original'],
date[type = 'Modification'],
date[type = 'Entry'],
date[type = 'Retrieval']{
    display:none;
}
/* characteristics */
characteristics{
    margin-left:20px;
    padding:1em;
}
characteristic[name = 'abstractText']{
    display:block;
    font-size:larger;
    padding-left:20px;
    padding-bottom:20px;
}
characteristic[name = "publicationTitle"]{
    display:block;
    font-size:1.2em;
    font-weight:bold;
}
characteristic[name = 'articleTitle']{
    font-style:italic;
}
keywords, attachments, initials {
    display:none;
}
note{
    display:block;
    box-shadow:10px 10px 5px #888888;
}
/*title, comment, quotation {
    float:left;
    display:inherit;
}
pages {
    float:right;
}*/
/* TEI P5 XML elements */
placeName{
    background-color:#FADDFF;
    color:black;
}
persName, surname, forename, forenames, addName, nameLink {
    background-color:#C9F6C5;
    color:black;
}
orgName{
    background-color:#E4E8FF;
    color:black;
}
name{
    background-color:#fefdb2;
    color:black;
}
/*forename{
    background-color:#f7f376;
    color:black;
}
surname{
    background-color:#eae572;
    color:black;
}
addName{
    background-color:#f7f376;
    color:black;
}*/
pb,
lb{
    content:"\a";
}
pb:after{
    content:"[pb @n=" attr(n) "]";
    direction:ltr;
    vertical-align:top;
    font-size:0.8em;
    color:orange;
    display:inline;
}
/* HTML elements */
br{
    content:"\a";
}